.con{
    background-image: url(../imgs/web_pc.jpg);
    width: 100%;
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.con .title{
    font-size: 56px;
    line-height: 1.38;
    overflow: hidden;
    margin: 0;
    padding-top: 9px;
    padding-bottom: 0;
    color: #fff;
    text-align: center
}
.con .sub-title{
    font-size: 22px;
    line-height: 1.45;
    overflow: hidden;
    padding-top: 15px;
    margin-bottom: -3px;
    color: #fff;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}
.con2{
    background-image: url(../imgs/js20pc.jpg);
    height: 200px;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}
.sub_title{
    font-size: 36px;
    line-height: 1.2;
    margin: 0;
    padding-bottom: 45px;
    text-align: center;
}
p{
    margin: 0 0 10px;
    font-size: 22px;
    text-align: center;
}
.bgf5{
    background: #f5f5f5;
    padding-top: 40px;
    padding-bottom: 40px;
}
.feature{
    background: #fff;
    border-radius: 5px;
    padding-bottom: 20px;
    height: 100%;
    min-height: 456px;
    margin-bottom: 30px;
}
.feature ul{
    margin-bottom: 0;
    text-align: center;
    overflow-y: auto;
    max-height: 200px;
}
.feature h4{
    font-size: 20px;
    padding: 10px 10px;
}