{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- header -->
  <header class="header d-flex align-items-center justify-content-center">
    <div class="container text-center">
        <h1 class="h1 text-white">Yangi 3D GIS</h1>
        <p>WebGL, VR, AR va 3D bosib chiqarish kabi yangi IT texnologiyalarining integratsiyasi yanada real va qulay 3D tajribasini taqdim etadi.</p>
    </div>
  </header>
  <!-- header end -->
  <!-- critic -->
  <section class="critic">
    <div class="container">
      <h2 class="text-center">Ko‘rib chiqish</h2>
      <p>2D va 3D integratsiyalashgan GIS texnologiyasiga asoslanib, yangi 3D GIS texnologiyasi fazoviy ma'lumotlar modelining hisoblash va analitik imkoniyatlarini yanada rivojlantiradi, oblik fotogrammetriya, BIM, nuqta buluti, 3D maydoni va boshqa ko'p manbali heterojen ma'lumotlarni birlashtiradi va ochiq ma'lumotlarni o'rnatadi. "Fazal ma'lumotlar formati" 3D modellari (S3M)". Tarqalgan texnologiyaga asoslanib, oblik fotogrammetriya modeli va nuqta buluti kabi real vaqtda 3D ma'lumotlarning butun jarayonlarini samarali boshqarish mumkin. U WebGL, VR, AR, AI, 3D bosib chiqarish va boshqalarning IT texnologiyalarini integratsiyalashgan holda yanada real va qulay 3D tasvirni taqdim etadi, tashqi va ichki integratsiyaga erishish uchun 3D GISni targ'ib qiladi, makro-mikro integratsiya,
    </p>
    </div>
  </section>
  <!-- critic end -->
  <!-- property -->
  <section class="property">
    <h2 class="text-center">Xususiyatlari</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-4 prop-card">
          <img src="{% static 'imgs/prop1.jpg' %}" alt="">
          <p>Taqsimlangan texnologiyalar asosida samarali, real vaqtda 3D ma'lumotlar va to'liq jarayonni boshqarish imkoniyatlarini taqdim etadi</p>
          <ul>
            <li>Taqsimlangan qiyshiq fotogrammetriya modelini qayta ishlash imkoniyatlarini va to'liq ishlov berish operatorlarini keng ko'lamli oblik fotogrammetriya modeli ma'lumotlarini taqsimlangan qayta ishlashdan, taqsimlangan saqlashdan nashriyot xizmatlariga qadar to'liq boshqarishni ta'minlaydi.</li>
            <li>Katta va bulutli nuqta bulutli ma'lumotlarini taqsimlangan qayta ishlash, taqsimlangan saqlashdan xizmat ko'rsatish nashrigacha to'liq boshqarishni amalga oshirish uchun taqsimlangan bulutli ma'lumotlarni qayta ishlash qobiliyatini ta'minlaydi.</li>
          </ul>
        </div>
        <div class="col-md-4 prop-card">
          <img src="{% static 'imgs/prop2.jpg' %}" alt="">
          <p>Spatial 3D modelini (S3M) qo'llab-quvvatlash
          </p>
        </div>
        <div class="col-md-4 prop-card">
          <img src="{% static 'imgs/prop3.jpg' %}" alt="">
          <p>BIM bilan ulanishni yaxshilaydi</p>
          <ul>
            <li>3D XML CATIA (V5/V6) va Revit RVT yuklaydi.</li>
            <li>IFC ma'lumotlar formatini import qilishni qo'llab-quvvatlaydi. </li>
            <li>BIM eksporti uchun plagin takomillashtirildi, Bentley, Autodesk Civil 3D va Tekla o'rtasida ulanish qo'llab-quvvatlanadi.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- property end -->
{% endblock content %}