{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- header -->
<header class="header d-flex align-items-center justify-content-center">
  <div class="container text-center">
      <h1 class="h1 text-white">Bulutli GIS</h1>
      <p>Bulut va terminalning uzluksiz integratsiyasi, bulut arxitekturasini qo'llab-quvvatlash, shuningdek chekka hisoblash.</p>
  </div>
</header>
<!-- header end -->
<!-- critic -->
<section class="critic">
  <div class="container">
    <h2 class="text-center">Ko‘rib chiqish</h2>
    <p>Cloud Native GIS bulutli muhit uchun ishlab chiqilgan va optimallashtirilgan GIS bilan bog'liq texnologiyalarga ishora qiladi. Mikroservis arxitekturasiga asoslangan va konteynerni tarqatish vositasi sifatida qabul qilgan holda, u avtomatik tuzatish, foydalanish va texnik xizmat ko'rsatishni boshqarishni amalga oshirishi va yanada samarali, moslashuvchan, zamonaviy va barqaror GIS tizimlarini ta'minlash uchun bulutli platformadan yaxshiroq foydalanishi mumkin.</p>
    <p>SuperMap Cloud Native GIS an'anaviy monolit GIS ilovasini bir nechta mustaqil ravishda o'rnatiladigan mikroservislarga ajratadi, bu esa nozikroq elastik masshtablash va moslashuvchan GISni joylashtirish imkonini beradi, mikroservislarni virtual mashinalar o'rniga konteynerlarga o'rnatadi, resurslardan foydalanishni kamaytiradi va tezkor masshtablash imkonini beradi; GIS konteynerlarini avtomatik o'rnatish texnologiyasi va resurslarni dinamik rejalashtirish tufayli bulutli muhitdagi farqlarni himoya qilishni, boshqaruv va migratsiya xarajatlarini kamaytirishni amalga oshirish mumkin. Bulutli texnologiyalardan foydalangan holda, GIS ishlab chiquvchilari mijozlar ehtiyojlariga tezroq javob berish uchun biznesga e'tibor qaratishlari mumkin.</p>
  </div>
</section>
<!-- critic end -->
<!-- newproduct -->
<section class="newproduct">
  <h2 class="text-center">Xususiyatlari</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-6 product-left">
        <img class="img-fluid" src="{% static 'imgs/bulutgis1.jpg' %}" alt="">
      </div>
      <div class="col-md-6 product-right d-flex align-items-center">
        <div class="product-text">
          <h3 class="text-center">Saqlash va tarqatilgan hisob ma'lumotlari Cloud Native GIS </h3>
          <ul>
            <li>Katta fazoviy ma'lumotlarning hisoblash samaradorligini oshirish uchun bir nechta toifalar bo'yicha fazoviy ma'lumotlarni taqsimlangan saqlashni qo'llab-quvvatlaydi.</li>
            <li>Ishlashning sezilarli yaxshilanishiga erishish uchun katta klassik fazoviy ma'lumotlarni taqsimlangan qayta ishlash va tahlil qilishni qo'llab-quvvatlaydi.</li>
            <li>Bulutli platformadan foydalanish uchun turli xil ommaviy bulutli saqlash xizmatlarini, bulutli ma'lumotlar bazalarini qo'llab-quvvatlaydi.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 product-right2 d-flex align-items-center">
        <div class="product-text">
          <h3 class="text-center">GIS mikroservis arxitekturasi va xizmatlarini boshqarish </h3>
          <ul>
            <li>Mikroservislarga va elastik masshtablarga bo'lingan GIS funksiyalarini qo'llab-quvvatlaydi.</li>
            <li>Mikroservislarga va elastik masshtablarga bo'lingan GIS funksiyalarini qo'llab-quvvatlaydi.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 product-left">
        <img class="img-fluid" src="{% static 'imgs/bulutgis2.jpg' %}" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 product-left">
        <img class="img-fluid" src="{% static 'imgs/bulutgis3.jpg' %}" alt="">
      </div>
      <div class="col-md-6 product-right d-flex align-items-center">
        <div class="product-text">
          <h3 class="text-center">Konteynerga asoslangan ko'p tugunli joylashtirish va elastik masshtablash</h3>
          <ul>
            <li>Virtual mashinalarga qaraganda konteynerlashtirilgan joylashtirishni, tezroq joylashtirish tezligini va arzonroq narxni qo'llab-quvvatlaydi.</li>
            <li>Kubernetes asosidagi umumiy autopatchni taqdim etadi, turli ommaviy va xususiy bulutlarni moslashtiradi.</li>
            <li>Ko'p tugunli joylashtirish uchun GIS xizmati tugunlarini boshqarishni qo'llab-quvvatlaydi.</li>
            <li>GIS tugunlarining doimiy yangilanishini, elastik masshtabni va falokatlarni tiklashni qo'llab-quvvatlaydi</li>
            <li>Saqlash resurslarining o'rnatilgan taqsimlangan pulini va hisoblash resurslari (HBase, Spark va boshqalar) pulini ta'minlaydi.</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 product-right2 d-flex align-items-center">
        <div class="product-text">
          <h3 class="text-center">Integratsiyalashgan aqlli foydalanish, texnik xizmat ko'rsatish va boshqarish</h3>
          <ul>
            <li>Barcha mikroservis resurslarini real vaqtda kuzatib boradi.</li>
            <li>Markazlashtirilgan GIS jurnalini boshqarishni qo'llab-quvvatlaydi.</li>
            <li>GIS fonini optimallashtirishga rahbarlik qilish uchun tashrif buyuruvchilarning statistik tahlilini qo'llab-quvvatlaydi.</li>
            <li>O'z-o'zini davolashni qo'llab-quvvatlaydi, mikroservis avtomatik ravishda mashina nosozliklaridan xalos bo'lishi mumkin.</li>
            <li>Uzluksiz yangilanishni, qisman yangilashni / xizmatni to'xtatmasdan orqaga qaytarishni qo'llab-quvvatlaydi.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 product-left">
        <img class="img-fluid" src="{% static 'imgs/bulutgis4.jpg' %}" alt="">
      </div>
    </div>
  </div>
</section>
<!-- newproduct end -->
{% endblock content %}