{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="banner-box">
        <div class="box">
        <div class="banner_img">
                <div class="container">
                    <h1 class="title">Bulutli GIS serveri</h1>
                    <div class="sub_title">Bulutli GIS uchun to'liq xususiyatli dastur serveri, portal va operatsiyalar menejeri bilan</div>
                </div>
            </div>
        </div>
    </div>

    <div class="con">
        <div class="box">
            <div class="container">
                <h1 class="title" style="color: #fff;">SuperMap iServer</h1>
                <div class="sub_title"></div>
            </div>
        </div>
    </div>
    
    <div class="container  margin-30">
        <h2 class="sub_title1">Ko‘rib chiqish</h2>
        <p>Bulutga asoslangan GIS dastur serveri yuqori samarali platformalararo GIS yadrosiga asoslangan holda integratsiyalashgan 2D va 3D xizmatlarini nashr etadi va boshqaradi hamda koʻp qatlamli kengaytma va rivojlanishni taʼminlaydi.</p>
        <p>U kuchli fazoviy katta ma'lumotlarni saqlash, fazoviy katta ma'lumotlar tahlili va real vaqtda oqimli ma'lumotlarni qayta ishlash, shuningdek, ma'lumotlarni kesishsiz ommaviy nashr qilishni qo'llab-quvvatlash uchun boshqa veb-xizmatlarni taqdim etadi.</p>
        <p>U mikroservis va konteynerlashtirishni chuqur birlashtiradi, mahalliy bulut arxitekturasi asosida katta ma'lumotlar tizimlari, AI va 3D ilovalarini tezda yaratish uchun ish stoli, veb va mobil kabi bir nechta SDK-larni taqdim etadi.</p>
    </div>
    <div class="bgf5">
        <div class="container">
            <h2 class="sub_title1">Xususiyatlari</h2>
            <div class="row">
                    <div class="col-sm-12 col-md-6">
                            <div class="feature">
                                <img class="img-fluid" src="{% static 'imgs/java011.jpg' %}" alt="">
                                <h4>Ko'p darajali taqsimlangan saqlash, hisoblash va qayta ishlash.</h4>
                                <ul>
                                    <li>Tarqalgan, ko'p bosqichli ilovalar tizimini yaratadi.</li>
                                    <li>Dinamik tugunlarni birlashtirish, aqlli masshtablash va tugunlar o'rtasida avtomatik sinxronizatsiyani qo'llab-quvvatlaydi.</li>
                                    <li>Docks MPP taqsimlangan relyatsion ma'lumotlar bazasi, taqsimlangan NoSQL ma'lumotlar bazasi, taqsimlangan fayl tizimi.</li>
                                    <li>Spark, Hadoop YARN va boshqalar taqsimlangan hisoblash platformalarining doklari.</li>
                                    <li>Kuchli taqsimlangan fazoviy tahlil, taqsimlangan ma'lumotlarni qayta ishlash va boshqa funktsiyalarni ta'minlaydi.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="feature">
                                <img class="img-fluid" src="{% static 'imgs/java010.jpg' %}" alt="">
                                <h4>GIS xizmatlari uchun ko'p qirrali, kengaytiriladigan nashr qilish va yig'ish imkoniyatlari.</h4>
                                <ul>
                                    <li>GIS xizmatlari uchun ko'p qirrali, kengaytiriladigan nashr qilish va yig'ish imkoniyatlari.</li>
                                    <li>REST, WebSocket, OGC va boshqa interfeyslarni o'z ichiga olgan xizmat interfeyslarini qo'llab-quvvatlash yaxshilandi.</li>
                                    <li>Xizmat ko'rsatish imkoniyatlari, interfeyslar, xavfsizlik va klasterlashni o'z ichiga olgan keng qamrovli kengayishni ta'minlaydi.</li>
                                    <li>Noyob xizmatlarni birlashtirish texnologiyasi bir nechta manbalardan uch tomonli xizmatlarni jamlaydi va tarqatadi.</li>
                                </ul>
                            </div>
                        </div>
            </div>
            <div class="row content">
                    <div class="col-sm-6 col-md-4 col-12">
                        <div class="feature">
                            <img class="img-fluid" src="{% static 'imgs/iser03.jpg' %}" alt="">
                            <h4>Cloud Native-ni qo'llab-quvvatlaydi</h4>
                            <ul>
                                <li>Moslashuvchan masshtablash va GIS xizmatlarini moslashuvchan joylashtirish uchun mikroservis arxitekturasini qo'llab-quvvatlaydi.</li>
                                <li>Bulutli GISni samarali joylashtirish, yuqori unumdorlik va resurslardan kam foydalanish uchun Docker konteynerlashtirish texnologiyasini qo'llab-quvvatlaydi.</li>
                                <li>GIS ma'lumotlarini oson boshqarish va samarali nashr qilish uchun bulutli saqlashga kirish.</li>
                                <li>AI, katta maʼlumotlar va 3D ulangan mikroservisni qoʻllab-quvvatlaydi.</li>
                                <li>Kubernetes-ga asoslangan joylashtirish va boshqarish yechimini qo'llab-quvvatlaydi.</li>
                            </ul>
                        </div>
                    </div>
                <div class="col-sm-6 col-md-4 col-12">
                    <div class="feature">
                        <img class="img-fluid" src="{% static 'imgs/iser04.jpg' %}" alt="">
                        <h4>Ma'lumotlarni qayta ishlash uchun mikroservislar</h4>
                        <ul>
                            <li>O'rnatilgan keng Python kutubxonasi ma'lumotlar faniga oid yuzlab Python kutubxonalarini o'z ichiga oladi.</li>
                            <li>Python kutubxonasini bir marta bosish orqali o'rnatish va yangilash uchun moslashuvchan Python kutubxonasini boshqarish mexanizmini taqdim etadi.</li>
                            <li>JupyterLab-ga asoslangan onlayn ishlab chiqish va operatsion muhitni ta'minlaydi.</li>
                            <li>Ma'lumotlar tahlili, ma'lumotlar statistikasi tahlili, mashinani o'rganish va boshqa qayta ishlash tahlili imkoniyatlarini taqdim etadi.</li>
                            <li>Bir marta bosish orqali ma'lumotlar xizmatlarini o'rnatish uchun Kubernetes texnologiyasi bilan birgalikda Docker Mirroring taqdim etadi.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-12">
                    <div class="feature">
                        <img class="img-fluid" src=".{% static 'imgs/iser05.jpg' %}" alt="">
                        <h4>Yangi mashinani o'rganish xizmatini taqdim etadi</h4>
                        <ul>
                            <li>Tasniflash/regressiya bilan bog'liq ko'plab mashinalarni o'rganish xizmati imkoniyatlarini taqdim etadi.</li>
                            <li>Ikkilik tasniflash xizmatining imkoniyatlarini chuqur o'rganishni, maqsadni aniqlashni va boshqalarni ta'minlaydi.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}