{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- content -->
  <div class="content events-bg">
    <div class="h-100 d-flex flex-column justify-content-center align-items-center">
      <h1 class="title">Voqealar</h1>
      <div class="sub-title">Innovatsion texnologiyalar va sanoat kommunikatsiyalaridan bahramand bo'ling</div>
    </div>
  </div>
  <!-- content end -->
  <!-- info -->
  <div class="container">
    <div class="row info">
      <div class="col-10 info d-flex flex-column justify-content-center">
        <a href="" class="text-decoration-none"><h3 class="info-title">Taklif|GIS texnologiyasi va qo'llanilishi bo'yicha 6-xalqaro seminar</h3></a>
        <p class="info-text">Hurmatli janob/Xonim, sizni 2023-yil 24-iyundan 1-iyulgacha Xitoyning Pekin shahrida boʻlib oʻtadigan GIS texnologiyasi va qoʻllanilishi boʻyicha 6-Xalqaro seminarga taklif qilinasiz. Ushbu seminar Xitoy geodeziya, fotogrammetriya va kartogr jamiyati tomonidan homiylik qilingan ...</p>
        <span class="info-date">2023 yil 31 may</span>
      </div>
      <div class="col-2">
        <img class="w-100" src="{% static 'imgs/event-info.png' %}" alt="">
      </div>
    </div>
  </div>
  <!-- news end --> 
 {% endblock content %}