{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-sm text-center">
        <img class="col-md col-md-12" src="{% static 'imgs/archi.jpg' %}" alt="">
    </div>
    <div class="container sm-container">
        <p class="p-sm fs-6 ">SuperMap GIS 9D(2019) bulutli GIS platformasi, onlayn GIS platformasi va fazoviy katta maʼlumotlarni har tomonlama qamrab oluvchi kompyuter, internet va mobil qurilmalarni qoʻllab-quvvatlaydigan turli GIS ishlab chiqish platformalarini oʻz ichiga oladi.</p>
    </div>
    <div class="bgf5">
        <div class="container">
            <h2 class="sub_title">Mahsulotlar</h2>
            <ul class="row products clear_ul list-unstyled">
                <li class="col-sm-6 col-md-4 "><a href="/ru/about/?36_1.html">
                        <div class="product">
                            <a href=""><img src="{% static 'imgs/ico_4.png' %}" alt=""></a>
                            <p class="text-center">Server bulutli GIS</p>
                        </div>
                    </a>
                </li>

                <li class="col-sm-6 col-md-4 "><a href="/ru/about/?37_1.html">
                        <div class="product">
                           <a href=""><img src="{% static 'imgs/ico_5.png' %}" alt=""></a>
                            <p class="text-center">Onlayn GIS platformasi</p>
                        </div>
                    </a>
                </li>

                <li class="col-sm-6 col-md-4 "><a href="/ru/about/?38_1.html">
                        <div class="product">
                           <a href=""><img src="{% static 'imgs/ico_7.png' %}" alt=""></a>
                            <p class="text-center">Edge GIS serveri</p>
                        </div>
                    </a>
                </li>

                <li class="col-sm-6 col-md-4 "><a href="/ru/about/?39_1.html">
                        <div class="product">
                          <a href=""><img src="{% static 'imgs/ico_8.png' %}" alt=""></a>
                            <p class="text-center">KOMPYUTER uchun GIS terminali</p>
                        </div>
                    </a>
                </li>

                <li class="col-sm-6 col-md-4 "><a href="/ru/about/?40_1.html">
                        <div class="product">
                            <a href=""><img src="{% static 'imgs/ico_9.png' %}" alt=""></a>
                            <p class="text-center">Brauzer uchun GIS</p>
                        </div>
                    </a>
                </li>

                <li class="col-sm-6 col-md-4 "><a href="/ru/about/?41_1.html">
                        <div class="product">
                          <a href=""><img src="{% static 'imgs/ico_5 (1).png' %}" alt=""></a>
                            <p class="text-center">Mobil qurilmalar uchun GIS</p>
                        </div>
                    </a>
                </li>


            </ul>
        </div>
    </div>
 {% endblock content %}