{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- header -->
  <header class="header d-flex align-items-center">
    <div class="container text-left">
        <h1 class="h1 text-white">Katta GIS ma'lumotlari</h1>
        <p>Tarqalgan texnologiyalarni qo'llab-quvvatlash, Spark taqsimlangan hisoblash arxitekturasi, oqimlarni qayta ishlash va ma'lumotlarni tahlil qilish.</p>
    </div>
  </header>
  <!-- header end -->
  <!-- critic -->
  <section class="critic">
    <div class="container">
      <h2 class="text-center">Ko‘rib chiqish</h2>
      <p>Katta fazoviy ma'lumotlarni saqlash va boshqarish, fazoviy tahlil, oqim texnologiyasi va vizualizatsiyani o'z ichiga olgan Big Data GIS katta ma'lumotlar GIS infratuzilmasi dasturiy ta'minoti va xizmatlarini har tomonlama qo'llab-quvvatlash uchun mo'ljallangan bo'lib, ko'proq foydalanuvchilarga "Oltin kon" fazoviy katta ma'lumotlarini osongina boshqarish imkonini beradi.</p>
      <p>Shu bilan birga, an'anaviy GIS katta klassik fazoviy ma'lumotlarni taqsimlangan saqlash, qayta ishlash va tahlil qilishni qo'llab-quvvatlaydigan va unumdorlikni oshirish tartibini ta'minlaydigan IT katta ma'lumotlar texnologiyasi asosida inqilob qilinmoqda.</p>
    </div>
  </section>
  <!-- critic end -->
  <!-- property -->
  <section class="property">
    <h2 class="text-center">Xususiyatlari</h2>
    <div class="container">
      <div class="row">
        <div class="col-md-4 prop-card">
          <img src="{% static 'imgs/prop1.jpg' %}" alt="">
          <p>Bir nechta taqsimlangan fazoviy ma'lumotlar dvigatellarini taqdim eting</p>
          <ul>
            <li>Keng miqyosdagi vektor/rastr ma'lumotlari uchun HBase va HDFS dvigatellarini qo'llab-quvvatlash.</li>
            <li>Yuqori unumdorlikka va to'liq ishlov berish quvvatiga ega bo'lgan taqsimlangan DSF fazoviy fayl mexanizmini taqdim etadi.</li>
            <li>GeoJSON, GeoCSV fayllari va boshqalarni qo'llab-quvvatlaydi. </li>
            <li>Ma'lumotlarni uzatish uchun Elasticsearch motorlarini qo'llab-quvvatlash.</li>
            <li>2D vektor/mesh xaritalar va 3D plitkalar uchun MongoDB dvigatelini qo'llab-quvvatlash.</li>
          </ul>
        </div>
        <div class="col-md-4 prop-card">
          <img src="{% static 'imgs/prop2.jpg' %}" alt="">
          <p>Bir nechta fazoviy ma'lumotlar tahlilini taqdim eting
          </p>
          <ul>
            <li>Spark kengaytirilgan fazoviy ma'lumotlar modeli yadro qatlami.</li>
            <li>Fazoviy katta ma'lumotlarni tahlil qilishning 20 turini o'z ichiga olgan 5 toifani qo'llab-quvvatlaydi.</li>
            <li>15 turdagi vektor ma'lumotlarini qamrab oluvchi 4 toifa uchun klassik fazoviy tahlilning taqsimlangan hisoblashlarini qo'llab-quvvatlaydi.</li>
            <li>23 turdagi rastr ma'lumotlarini qamrab oluvchi 6 toifa uchun klassik fazoviy tahlilning taqsimlangan hisoblashlarini qo'llab-quvvatlaydi.</li>
          </ul>
        </div>
        <div class="col-md-4 prop-card">
          <img src="{% static 'imgs/prop3.jpg' %}" alt="">
          <p>Tarqalgan Spark muhitlari uchun moslashuvchan ikkilamchi rivojlanish imkoniyatlarini taqdim etadi</p>
          <ul>
            <li>Java, Scala va Python-ni qo'llab-quvvatlaydi.</li>
            <li>Spark SQL va DataFrames ma'lumotlar so'rovi usullarini qo'llab-quvvatlaydi</li>
            <li>Fazoviy ma'lumotlarni saqlash mexanizmi foydalanuvchilarining kengaytirilishi.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- property end -->
 {% endblock content %}