{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- header -->
  <header class="header mulkboshqarish d-flex align-items-center justify-content-center">
    <div class="container text-center">
        <h1 class="h1 text-white">Mulkni boshqarish</h1>
    </div>
  </header>
  <!-- header end -->
  <!-- critic -->
  <section class="critic">
    <div class="container">
      <h2 class="text-center">SuperMap ob'ektlarini boshqarish tizimi</h2>
      <p>SuperMap ob'ektlarini boshqarish tizimi temir yo'l, avtomobil va transport, energiya, aloqa, suv va oqava suv, isitish va gaz tizimlari kabi maxsus ilovalarni, shuningdek korxona quvurlari tarmog'ini, ishlab chiqarish uskunalarini birlashtiradigan kompleks ob'ektni boshqarish tizimini ishlab chiqish uchun ishlatilishi mumkin. , binolar va ob'ekt va mulkni boshqarish uchun boshqa tegishli ma'lumotlar va korxona ERP tizimi bilan osongina birlashtirilishi mumkin.</p>
    </div>
  </section>
  <!-- critic end -->
  <!-- platform -->
  <section class="platform">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid" src="{% static 'imgs/mulk1.jpg' %}" alt="">
          <h4>Ruxsat etilgan ob'ekt manbalari ma'lumotlari modellari va turli sohalarda dastur modellarini qabul qiladi.</h4>
        </div>
        <div class="col-md-4">
          <img class="img-fluid" src="{% static 'imgs/mulk2.jpg' %}" alt="">
          <h4>Ob'ekt resurslarini boshqarish tizimlaridan foydalangan holda ob'ekt resurslarini ko'rinadigan boshqarish va tahlil qilishni amalga oshiradi.</h4>
        </div>
        <div class="col-md-4">
          <img class="img-fluid" src="{% static 'imgs/mulk3.jpg' %}" alt="">
          <h4>Korporativ ilovalar tizimi bilan integratsiyalashgan.</h4>
        </div>
      </div>
    </div>
  </section>
  <!-- platform end -->
  <!-- solution -->
  <section class="solution">
    <div class="container">
      <h2 class="text-center">Yechimlar</h2>
      <a class="text-decoration-none text-black" href="#!"><p class="text-end">Qo'shimcha ma'lumotlar olish uchun ></p></a>
      <div class="row">
        <div class="col-md-6 solution-card-left">
          <img class="img-fluid" src="{% static 'imgs/mulkbosh1.jpg' %}" alt="">
        </div>
        <div class="col-md-6 solution-card-right d-flex flex-column justify-content-center">
          <h3>Shahar er osti quvurlari tarmog'i ma'lumot platformasi qurilishi</h3>
          <p><a href="#!" class="text-black text-decoration-none">tafsilotlar ></a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 solution-card-right d-flex flex-column justify-content-center">
          <h3>Tez yo'l ob'ektlarini boshqarish tizimi</h3>
          <p><a href="#!" class="text-black text-decoration-none">tafsilotlar ></a></p>
        </div>
        <div class="col-md-6 solution-card-left2">
          <img class="img-fluid" src="{% static 'imgs/mulkbosh2.jpg' %}" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 solution-card-left">
          <img class="img-fluid" src="{% static 'imgs/mulkbosh3.png' %}" alt="">
        </div>
        <div class="col-md-6 solution-card-right d-flex flex-column justify-content-center">
          <h3>3D GIS texnologiyasiga asoslangan er osti quvurlari tizimi</h3>
          <p><a href="#!" class="text-black text-decoration-none">tafsilotlar ></a></p>
        </div>
      </div>
    </div>
  </section>
  <!-- solution end -->
{% endblock content %}