{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="con">
        <div class="box">
            <div class="container">
                <h1 class="title">Onlayn GIS platformasi</h1>
                <div class="sub-title">Ma'lumotlaringizni geo-intellekt bilan jihozlang</div>
            </div>
        </div>
    </div>

    <div class="container sm-container  margin-60">
        <h2 class="sub_title">Ko‘rib chiqish</h2>
    <p class="p-sm">
        Onlayn GIS platformasi SuperMap (www.supermapol.com) foydalanuvchilarga GIS ma'lumotlar bulutini himoya qilishga yordam beradi va ma'lumotlarni onlayn ko'rsatish va tahlil qilish uchun ko'plab vositalarni, GIS ma'lumotlaridan foydalanishga kirish uchun turli SDK'larni va biznes tizimini tezkor rivojlantirishni ta'minlaydi.
</p>
</div>

<div class="bgf5">
    <div class="container">
        <h2 class="sub_title">Xususiyatlari</h2>

    <div class="row ">
        <div class="col-sm-4 col-md-4">
            <div class="feature">
                <img class="lazy" src="" data-original="/ru/template/pc/cn2016/images/on01.jpg" alt="">
                <h4>GIS bulutli saqlash</h4>
            <ul>
                <li>Saqlash va foydalanish: 2D/3D ma'lumotlarini (SuperMap, Excel, OSGB, S3M ish maydoni va boshqalar) bulutli ilova yordamida ko'rish, so'rash, tahrirlash, tahlil qilish mumkin.</li>
                <li>Mobil ofis: Internet, shaxsiy kompyuter va mobil terminallar orqali istalgan vaqtda, istalgan joyda ma’lumotlarni yuklang va almashing.</li>
            </ul>
        </div>
    </div>
        <div class="col-sm-4 col-md-4">
            <div class="feature">
                <img class="lazy" src="" data-original="/ru/template/pc/cn2016/images/on02.jpg" alt="">
                <h4>GIS bulut tahlili</h4>
    <ul>
        <li>Olti turdagi GIS bulut tahlili xizmatlarini taqdim etadi, masalan, geokodlash xizmati, koordinatalarni o'zgartirish xizmati va boshqalar.</li>
        <li>Bufer, interpolyatsiya, superpozitsiya, Thiessen ko'pburchagi, kontur/sirt ekstraktsiyasi va boshqalarni o'z ichiga olgan fazoviy ma'lumotlarni onlayn tahlil qilish.</li>
    </ul>
</div>
</div>
<div class="col-sm-4 col-md-4">
<div class="feature">
    <img class="lazy" src="" data-original="/ru/template/pc/cn2016/images/on03.jpg" alt="">
    <h4>GIS bulutli ilovasi</h4>
    <ul>
        <li>Turli veb-ilovalar: MapDashboard WebApp, DataViz WebApp, DataInsights WebApp, Earth WebApp.</li>
        <li>Interaktiv onlayn displey, 2D va 3D ma'lumotlarni tahrirlash va tahlil qilishni qo'llab-quvvatlaydi.</li>
    </ul>
</div>
</div>
</div>

<div class="row ">
<div class="col-sm-4 col-md-4">
<div class="feature">
    <img class="lazy" src="" data-original="/ru/template/pc/cn2016/images/on04.jpg" alt="">
    <h4>GIS bulutlarini ishlab chiqish</h4>
    <ul>
        <li>REST API: GIS ma'lumotlarini yuklash, nashr qilish va yuklab olish uchun GIS bulutli saqlash interfeysi, shuningdek, GIS bulut tahlili xizmati interfeysini o'z ichiga oladi.</li>
        <li>Turli SDKlar: JavaScript, Python, Android, iOS.</li>
    </ul>
</div>
</div>
<div class="col-sm-4 col-md-4">
<div class="feature">
    <img class="lazy" src="" data-original="/ru/template/pc/cn2016/images/on05.jpg" alt="">
    <h4>GIS bulutli xost</h4>
    <ul>
        <li>Tezkor kirish: bulutli GIS xostingini olish uchun uch daqiqa, osongina eksklyuziv GIS serverini yarating.</li>
    </ul>
</div>
</div>
<div class="col-sm-4 col-md-4">
<div class="feature">
    <img class="lazy" src="" data-original="/ru/template/pc/cn2016/images/on06.jpg" alt="">
    <h4>Sun'iy yo'ldosh masofadan zondlash ma'lumotlari va qo'shimcha xizmat echimlari</h4>
    <ul>
        <li>Masofaviy zondlashning asosiy ma'lumotlar manbalarini birlashtiradi va tez, oson qidirish imkonini beradi.</li>
        <li>Masofaviy zondlash ma'lumotlarini, jumladan, o'simliklar indeksi va tog' soyasi hisoblarini qo'llab-quvvatlaydi.</li>
    </ul>
</div>
</div>
</div>


    </div>
</div>
 {% endblock content %}