{% extends 'base.html' %}
{% load static %}
{% block content %}
 
    <div class="services__header">
        <h1>Xizmatlar va mahsulotlar</h1>
    </div>
    <div class="container">
        <div class="kadastir row">
            <h3>Yer kadastri</h3>
            <div class="kochmas col-md-3 col-sm-6 col-12">
                <img src="{% static 'imgs/Mortgage.png' %}" alt="">
                <p>Ko'chmas <br> mulkni shakllantirish</p>
            </div>
            <div class="kochmas col-md-3 col-sm-6 col-12">
                <img src="{% static 'imgs/Map Marker.png' %}" alt="">
                <p>Kadastr indeksi <br> xaritalarini ishlab chiqarish</p>
            </div>
            <div class="kochmas col-md-3 col-sm-6 col-12">
                <img src="{% static 'imgs/Land Surveying.png' %}" alt="">
                <p>Geodeziya <br> va xaritalash</p>
            </div>
            <div class="kochmas col-md-3 col-sm-6 col-12">
                <img src="{% static 'imgs/Address.png' %}" alt="">
                <p>Kommunal <br> xizmatlar xaritasi</p>
            </div>
        </div>
        <div class="kadastir row">
            <h3>Qishloq xo'jaligi</h3>
            <div class="kochmas col-md-3 col-sm-6 col-12">
                <img src="{% static 'imgs/Tree Planting.png' %}" alt="">
                <p>Hosildorlik <br> dinamikasi monitoringi</p>
            </div>
            <div class="kochmas col-md-3 col-sm-6 col-12">
                <img src="{% static 'imgs/Map.png' %}" alt="">
                <p>Ekin turlarini tasniflash <br> xaritasini ishlab chiqish</p>
            </div>
            <div class="kochmas col-md-3 col-sm-6 col-12">
                <img src="{% static 'imgs/Soil.png' %}" alt="">
                <p>Tuproq <br> holatini baholash</p>
            </div>
            <div class="kochmas col-md-3 col-sm-6 col-12">
                <img src="{% static 'imgs/Web Analytics.png' %}" alt="">
                <p>Hosildorlikni <br> bashorat qilish</p>
            </div>
        </div>
        <div class="kadastir row">
            <h3>Suv resurslarini boshqarish</h3>
            <div class="kochmas col-md-3 col-sm-6 col-12">
                <img src="{% static 'imgs/Flood Car.png' %}" alt="">
                <p>Suv toshqini xaritasini <br> tuzish va monitoringi</p>
            </div>
            <div class="kochmas col-md-3 col-sm-6 col-12">
                <img src="{% static 'imgs/Europe.png' %}" alt="">
                <p>Gidrologik <br> modellashtirish</p>
            </div>
            <div class="kochmas col-md-3 col-sm-6 col-12">
                <img src="{% static 'imgs/System Task.png' %}" alt="">
                <p>Qurg'oqchilik <br> monitoringi</p>
            </div>
            <div class="kochmas col-md-3 col-sm-6 col-12">
                <img src="{% static 'imgs/Flow.png' %}" alt="">
                <p>Suvning ifloslanishini <br> nazorat qilish</p>
            </div>
        </div>
        <div class="kadastir row">
            <h3>Ekologiya va atrof-muhit</h3>
            <div class="kochmas col-md-3 col-sm-6 col-12">
                <img src="{% static 'imgs/Forest.png' %}" alt="">
                <p>O'rmon <br> xo'jaligi</p>
            </div>
            <div class="kochmas col-md-3 col-sm-6 col-12">
                <img src="{% static 'imgs/Co2 Reduction.png' %}" alt="">
                    <p>Atmosferaning <br> ifloslanishi monitoringi</p>
            </div>
            <div class="kochmas col-md-3 col-sm-6 col-12">
                <img src="{% static 'imgs/Greenhouse Effect.png' %}" alt="">
                <p>Ifloslanish <br> monitoringi: poligonlar</p>
            </div>
            <div class="kochmas col-md-3 col-sm-6 col-12">
                <img src="{% static 'imgs/Climate Change.png' %}" alt="">
                <p>Iqlim o'zgarishi <br> ta'siri monitoringi</p>
            </div>
            <div class="kochmas col-md-4 col-sm-6 col-12">
                <img src="{% static 'imgs/Plant.png' %}" alt="">
                <p>Vegetatsiya <br> dinamikasi</p>
            </div>
            <div class="kochmas col-md-4 col-sm-6 col-12">
                <img src="{% static 'imgs/Wildlife.png' %}" alt="">
                <p>O‘simlik va hayvonot <br> dunyosini kuzatish va xaritalash</p>
            </div>
            <div class="kochmas col-md-3 col-sm-12 col-12">
                <img src="{% static 'imgs/Artificial Intelligence.png' %}" alt="">
                <p>AIga asoslangan boshqaruv paneli <br> yordamida ma'lumotlarni boshqarish</p>
            </div>
        </div>
        <div class="kadastir row">
            <h3>Qurilish sohasi</h3>
            <div class="kochmas col-md-4 col-sm-6 col-12">
                <img src="{% static 'imgs/Construction Plan.png' %}" alt="">
                    <p>Yerdan foydalanishni <br> rejalashtirish va rayonlashtirish</p>
            </div>
            <div class="kochmas col-md-4 col-sm-6 col-12">
                <img src="{% static 'imgs/Grand Master Key.png' %}" alt="">
                <p>Qurilish loyihalari uchun <br>
                    mos joylarni tanlash va baholash</p>
            </div>
            <div class="kochmas col-md-4 col-sm-6 col-12">
                <img src="{% static 'imgs/Enterprise Resource Planning.png' %}" alt="">
                <p>Infratuzilmani <br>rejalashtirish</p>
            </div>
            <div class="kochmas col-md-4 col-sm-6 col-12">
                <img src="{% static 'imgs/Mortgage-1.png' %}" alt="">
                <p>Ko'chmas mulk <br> bozori tahlili</p>
            </div>
            <div class="kochmas col-md-4 col-sm-6 col-12">
                <img src="{% static 'imgs/Flood Car-1.png' %}" alt="">
                <p>Suv toshqinini xaritalash <br> va xavfni baholash</p>
            </div>
            <div class="kochmas col-md-3 col-sm-12 col-12">
                <img src="{% static 'imgs/Layers.png' %}" alt="">
                <p>BIM+3DGAT <br> xizmati</p>
            </div>
        </div>
        <div class="kadastir row">
            <h3>Sun'iy intellekt</h3>
            <div class="kochmas col-md-3 col-sm-6 col-12">
                <img src="{% static 'imgs/Google Earth.png' %}" alt="">
                <p>GIS ML asosida <br> jinoyatlarni tahlil qilish</p>
            </div>
            <div class="kochmas col-md-3 col-sm-6 col-12">
                <img src="{% static 'imgs/Mortgage.png' %}" alt="">
                <p>Infratuzilma ta'sirida <br> uy-joy narxlarini baholash</p>
            </div>
            <div class="kochmas col-md-3 col-sm-6 col-12">
                <img src="{% static 'imgs/Road.png' %}" alt="">
                <p>IOb'ektni aniqlash: <br> ta’mirtalab yo'llar</p>
            </div>
            <div class="kochmas col-md-3 col-sm-6 col-12">
                <img src="{% static 'imgs/KeyDB.png' %}" alt="">
                <p>AI + AR <br> maʼlumot toʻplash</p>
            </div>
            <div class="kochmas col-md-4 col-sm-6 col-12">
                <img src="{% static 'imgs/Waypoint Map.png' %}" alt="">
                <p>AI uchun fazoviy tahlil: <br> geografik chegara asosidagi <br> yo'l harakati buzilishi monitori</p>
            </div>
            <div class="kochmas col-md-4 col-sm-6 col-12">
                <img src="{% static 'imgs/AI File.png' %}" alt="">
                <p>AI uchun fazoviy <br> vizualizatsiya: Yo`l harakati <br> monitoringi vizualizatsiyasi</p>
            </div>
            <div class="kochmas col-md-3 col-sm-12 col-12">
                <img src="{% static 'imgs/Image File.png' %}" alt="">
                <p>Shahar boshqaruvi uchun <br> turli burchaklardan suratga olish <br> (oblique photography) modeli</p>
            </div>
        </div>
    </div>
    <div class="pasi">
        <img class="img-fluid" src="{% static 'imgs/image_2023-10-06_16-26-01 1.png' %}" alt="">
    </div>
{% endblock content %}