{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="con text-center">
        <div class="box">
            <div class="container">
                <h1 class="title">KOMPYUTER uchun terminal GIS</h1>
                <div class="sub-title">To'liq xususiyatli, sozlanishi mumkin bo'lgan ish stoli GIS va GIS SDK komponentlari bilan</div>
            </div>
        </div>
    </div>
    <div class="con con1">
        <div class="box">
            <div class="container">
                <h1 class="title" style="color: #fff;">SuperMap iObjects</h1>
                <div class="sub-title"></div>
            </div>
        </div>
    </div>
    <div class="margin-30">
        <div class="container">
            <h2 class="sub_title">Ko‘rib chiqish</h2>
            <div class="row">
                <div class="col-md-3 margin-bottom-35-xs">
                    <div class="text-center"><img class="lazy" src="{% static 'imgs/obj1.png' %}" alt=""></div>
                    <h4 class="text-center">SuperMap iObjects Java</h4>
                    <p class="text-center">Bu katta, keng qamrovli GIS ishlab chiqish platformasi bo'lib, u o'zaro platformalar integratsiyasini, 2D va 3D va Java ishlab chiqish muhitiga mos keladigan katta ma'lumotlar GIS imkoniyatlarini ta'minlaydi.</p>
                </div>
                <div class="col-md-3 margin-bottom-35-xs">
                    <div class="text-center"><img class="lazy" src="{% static 'imgs/obj2.png' %}" style="display: inline;"></div>
                    <h4 class="text-center">SuperMap iObjects C++</h4>
                    <p class="text-center">Bu C++ ishlab chiqish muhiti uchun mos keladigan platformalararo integratsiyani, 2D va 3D va katta maʼlumotlar GIS imkoniyatlarini taʼminlovchi katta, toʻliq GIS ishlab chiqish platformasi.</p>
                </div>
                <div class="col-md-3 margin-bottom-35-xs">
                    <div class="text-center"><img class="lazy" src="{% static 'imgs/obj3.png' %}" style="display: inline;"></div>
                    <h4 class="text-center">SuperMap iObjects .NET</h4>
                    <p class="text-center">Bu C++ ishlab chiqish muhiti uchun mos keladigan platformalararo integratsiyani, 2D va 3D va katta maʼlumotlar GIS imkoniyatlarini taʼminlovchi katta, toʻliq GIS ishlab chiqish platformasi.</p>
                </div>
                <div class="col-md-3 margin-bottom-35-xs">
                    <div class="text-center"><img class="lazy" src="{% static 'imgs/' %}" style="display: inline;"></div>
                    <h4 class="text-center">SuperMap iObjects Python</h4>
                    <p class="text-center">Bu sizga ma'lumotlarni tartibga solish, o'zgartirish, qayta ishlash va tahlil qilish imkonini beruvchi foydalanuvchilarga qulay GIS skript tili paketidir. Python ishlab chiqish muhiti uchun javob beradi.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bgf5">
        <div class="container">
            <h2 class="sub_title">Xususiyatlari</h2>

            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="feature">
                        <img class="lazy img-fluid" src="{% static 'imgs/java010.jpg' %}" style="display: inline;">
                        <h4>Ma'lumotlarni qayta ishlash</h4>
                        <ul>
                            <li>Silliqlash, qayta namuna olish, kesish, fazoviy birlashtirish, integratsiya va boshqa vektor ma'lumotlarini qayta ishlash usullarini qo'llab-quvvatlaydi.</li>
                            <li>Topologiyani qayta ishlash, topologiyani tekshirish, topologiyani kesish va boshqa vektor topologiyasi operatsiyalarini qo'llab-quvvatlaydi.</li>
                            <li>Vektor va rastrli transformatsiyalar, qayta namunalar olish, algebraik operatsiya, qayta tasniflash va boshqa rastrli ma'lumotlarni qayta ishlash usullarini qo'llab-quvvatlaydi.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="feature">
                        <img class="lazy img-fluid" data-original="/ru/template/pc/cn2016/images/java011.jpg" src="{% static 'imgs/java011.jpg' %}" style="display: inline;">
                        <h4>Fazoviy statistik tahlil</h4>
                        <ul>
                            <li>Fazoviy avtokorrelyatsiya, fazoviy qatlamli heterojenlik va boshqa fazoviy umumiy xususiyatlarni tahlil qilish.</li>
                            <li>Yadro zichligi, teskari masofani tortish, Kriging va boshqa fazoviy interpolyatsiya usullari.</li>
                            <li>Fazoviy nuqta naqshlari, fazoviy faol nuqtalar va boshqa fazoviy tadqiqot naqshlari.</li>
                            <li>Eng kichik kvadratlar regressiyasi, geografik vaznli regressiya va boshqa fazoviy regressiya algoritmlari.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="feature">
                        <img class="lazy img-fluid" data-original="/ru/template/pc/cn2016/images/des03.jpg" src="{% static 'imgs/des03.jpg' %}" style="display: inline;">
                        <h4>Fazoviy tahlil</h4>
                        <ul>
                            <li>Bufer tahlilini, stek tahlilini, masofani hisoblashni, Thiessen poligonini va boshqa vektor fazoviy tahlilini qo'llab-quvvatlaydi.</li>
                            <li>Sirt tahlili, relef tahlili, tarmoq statistikasi, masofaviy tarmoq, gidrologik tahlil va boshqa tarmoq tahlili funktsiyalarini qo'llab-quvvatlaydi.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="feature">
                        <img class="lazy img-fluid" data-original="/ru/template/pc/cn2016/images/des01.jpg" src="{% static 'imgs/des01.jpg' %}" style="display: inline;">
                        <h4>To'liq chuqur o'rganish tasvir tahlili ish jarayonini qo'llab-quvvatlaydi</h4>
                        <ul>
                            <li>Namuna ma'lumotlarini ishlab chiqarish bo'yicha ma'lumotlar tahlilini qo'llab-quvvatlash.</li>
                            <li>Model tasvir tahlilini o'rganishni qo'llab-quvvatlaydi.</li>
                            <li>Tasvirni tahlil qilish modelining mulohazalarini qo'llab-quvvatlaydi.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="feature">
                        <img class="lazy img-fluid" data-original="/ru/template/pc/cn2016/images/des02.jpg" src="{% static 'imgs/des02.jpg' %}" style="display: inline;">
                        <h4>Mashinani o'rganish</h4>
                        <ul>
                            <li>Tasvir ma'lumotlarini tahlil qilishni qo'llab-quvvatlaydi, jumladan ikkilik tasniflash, maqsadni aniqlash, sahna tasnifi, er osti ob'ektlarini tasniflash va boshqalar.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row img-fluid">
        <div class="col-sm-12 margin-bottom-35-xs">
            <div class="text-center"><img class="lazy" data-original="/ru/template/pc/cn2016/images/obj4.png" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC"></div>
            <h4 class="text-center">Spark uchun SuperMap iObjects</h4>
            <p class="text-center">Bu taqsimlangan texnologiyalarga asoslangan katta ma'lumotlar uchun GIS platformasining tarkibiy qismidir. U turli xil taqsimlangan boshqaruv va katta ma'lumotlarni tahlil qilish xususiyatlarini taqdim etadi va Spark ishlab chiqish muhitiga mos keladi.</p>
        </div>

    </div>
    <div class="bgf5">
        <div class="container">
            <h2 class="sub_title">Xususiyatlari</h2>

            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="feature">
                        <img class="lazy img-fluid" data-original="/ru/template/pc/cn2016/images/obj04.jpg" src="{% static 'imgs/obj04.jpg' %}" style="display: inline;">
                        <h4>Tarqalgan oqimni qayta ishlash</h4>
                        <ul>
                            <li>Bir nechta transport protokollariga va bir nechta oqimli ma'lumotlar formatlariga kirishni qo'llab-quvvatlaydi.</li>
                            <li>Bir nechta oqimli ma'lumotlar uchun real vaqtda ishlov berish algoritmlarini qo'llab-quvvatlaydi.
                            </li>
                            <li>Elasticsearch ma'lumotlar bazasida push natijalarini qo'llab-quvvatlaydi, shuningdek, yangilanishlar va qo'shimchalar.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="feature">
                        <img class="lazy img-fluid" data-original="/ru/template/pc/cn2016/images/obj01.jpg" src="{% static 'imgs/obj01.jpg' %}" style="display: inline;">
                        <h4>Operatorlar uchun taqsimlangan fazoviy mashinalarni o'rganishni ta'minlaydi</h4>
                        <ul>
                            <li>Tarqalgan fazoviy zichlik klasterini qo'llab-quvvatlaydi.</li>
                            <li>Tarqalgan umumlashtirilgan chiziqli regressiyani qo'llab-quvvatlaydi.</li>
                            <li>O'rmonga asoslangan tasnif va regressiyani qo'llab-quvvatlaydi.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="feature">
                        <img class="lazy img-fluid" data-original="/ru/template/pc/cn2016/images/obj02.jpg" src="{% static 'imgs/obj02.jpg' %}" style="display: inline;">
                        <h4>Tarqalgan ma'lumotlarni saqlash</h4>
                        <ul>
                            <li>Yangi taqsimlangan kosmik fayl mexanizmi, DSF.</li>
                            <li>HBase, Elasticsearch, HDFS-ni qo'llab-quvvatlaydi.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="feature">
                        <img class="lazy img-fluid" data-original="/ru/template/pc/cn2016/images/obj03.jpg" src="{% static 'imgs/obj03.jpg' %}" style="display: inline;">
                        <h4>Tarqalgan fazoviy tahlil</h4>
                        <ul>
                            <li>15 toifadagi taqsimlangan tahlil funktsiyasini va 60 ga yaqin katta fazoviy ma'lumotlarni qo'llab-quvvatlaydi.</li>
                            <li>Taqsimlangan vektor ma'lumotlarini tahlil qilish uchun yangi xususiyatlar, masalan, ko'p parametrli tarmoq, rezident tahlili, qiyosiy tahlil va boshqalar.</li>
                            <li>Oqim yo'nalishini tahlil qilish, interpolyatsiya tahlili va boshqalar kabi yangi tarqalgan rastr ma'lumotlar tahlili xususiyatlari.</li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>
 {% endblock content %}