{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="con">
        <div class="box">
            <div class="container">
                <h1 class="title">Mobil uchun terminal GIS</h1>
                <div class="sub-title">Mobil GIS uchun mahalliy ilovalar va SDK</div>
            </div>
        </div>
    </div>

    <div class="con con2">
        <div class="box">
            <div class="container">
                <h1 class="title" style="color: #fff;">Android / iOS uchun SuperMap iMobile</h1>
                <div class="sub-title"></div>
            </div>
        </div>
    </div>

    <div class="container  mt-5 mb-5">
        <h2 class="sub_title">Ko‘rib chiqish</h2>
        <p class="p-sm">Bu umumiy ma'lumotlar formatini, 2D va 3D ilovalarni ishlab chiqishni, onlayn/oflayn ilovalarni qo'llab-quvvatlaydigan va turli ma'lumotlar uchun vizual effektlarni taqdim etadigan to'liq xususiyatli mobil GIS SDK.</p>
    </div>

    <div class="bgf5">
        <div class="container">
            <h2 class="sub_title">Xususiyatlari</h2>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-12">
                    <div class="feature">
                        <img class="lazy img-fluid" data-original="/ru/template/pc/cn2016/images/im06.jpg" src="{% static 'imgs/im06.jpg' %}" style="display: inline;">
                        <h4>Ma'lumotlarni boshqarish</h4>
                        <ul>
                            <li>MVT vektor plitkalarini, onlayn va oflayn xaritalarni qo'llab-quvvatlash.</li>
                            <li>Mahalliy vektor/rastr formatini qo'llab-quvvatlaydi.</li>
                            <li>3D ma'lumotlarini ko'rish: qiya fotogrammetriya, er, BIM va boshqalar.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-12">
                    <div class="feature">
                        <img class="lazy img-fluid" data-original="/ru/template/pc/cn2016/images/im07.jpg" src="{% static 'imgs/im07.jpg' %}" style="display: inline;">
                        <h4>Ma'lumotlar yig'ish</h4>
                        <ul>
                            <li>Chizish va tahrirlashni qo'llab-quvvatlaydi.</li>
                            <li>Bir nechta rejimlarda trekni olishni ta'minlaydi.</li>
                            <li>Shablon ma'lumotlar yig'ish.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-12">
                    <div class="feature">
                        <img class="lazy img-fluid" data-original="/ru/template/pc/cn2016/images/im01.jpg" src="{% static 'imgs/im01.jpg' %}" style="display: inline;">
                        <h4>Xarita bilan tajriba</h4>
                        <ul>
                            <li>Ovozli boshqaruv rejimini qo'llab-quvvatlaydi.</li>
                            <li>Murakkab GB darajasidagi ma'lumotlar sahnalarini silliq ko'rsatish uchun yuqori samarali vizualizatsiya.</li>
                            <li>Agregat xarita, issiqlik xaritasi, tarmoq xaritasi va aloqalar xaritasining vizualizatsiyasini qo'llab-quvvatlaydi.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-12">
                    <div class="feature">
                        <img class="lazy img-fluid" data-original="/ru/template/pc/cn2016/images/im03.jpg" src="{% static 'imgs/im03.jpg' %}" style="display: inline;">
                        <h4>Video karta</h4>
                        <ul>
                            <li>Yo'l qoplamalari, yo'llar va boshqalar kabi turli shahar komponentlarini tasniflash, aniqlash va statistikasini qo'llab-quvvatlaydi.</li>
                            <li>Ko'p maqsadli kuzatish va monitoringni, traektoriyani chiqarishni va video miqdori statistikasini qo'llab-quvvatlaydi.</li>
                            <li>Videodagi bir xil turdagi bir nechta yer usti ob'ektlarining jamlanma statistikasini qo'llab-quvvatlaydi.</li>
                            <li>Maqsadga qarab matn, rasm, video, xarita, sahna, POI va hokazolarni proyeksiyalashni qo'llab-quvvatlaydi.</li>
                            <li>Yuqori aniqlikdagi ma'lumotlarni yig'ish, o'lchash va navigatsiyani qo'llab-quvvatlaydi.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-12">
                    <div class="feature">
                        <img class="lazy img-fluid" data-original="/ru/template/pc/cn2016/images/im02.jpg" src="{% static 'imgs/im02.jpg' %}" style="display: inline;">
                        <h4>Tematik xarita</h4>
                        <ul>
                            <li>Er xaritasi, balandlik xaritasi, atirgul xaritasi va boshqalar kabi 20 dan ortiq vizualizatsiya usullarini taqdim etadi.</li>
                            <li>Avtomatik afsona yaratishni qo'llab-quvvatlaydi.</li>
                            <li>Tasvir rangini aqlli ravishda ajratib oling va tasvir uslubiga muvofiq tasvir uslubini kartaga o'tkazing.</li>
                            <li>Barmoq imo-ishoralarini qo'llab-quvvatlaydi.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-12">
                    <div class="feature">
                        <img class="lazy img-fluid" data-original="/en-us/template/pc/cn2016/images/m2001.jpg" src="{% static 'imgs/m2001.jpg' %}" style="display: inline;">
                        <h4>Ichki xarita</h4>
                        <ul>
                            <li>Ichki ma'lumotlarni to'plash va xaritalashni yaxshilaydi.</li>
                            <li>Zaminni almashtirish displeyini va ichki o'zaro faoliyat navigatsiyani qo'llab-quvvatlaydi.</li>
                            <li>Ichki vizual joylashishni aniqlash va ichki POI qidirishni qo'llab-quvvatlaydi.</li>
                            <li>O'rnatilgan 2D va 3D navigatsiyani yaxshilaydi.</li>
                            <li>Ichki va tashqi o'rnatilgan navigatsiyani qo'llab-quvvatlaydi.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-12">
                    <div class="feature">
                        <img class="lazy img-fluid" data-original="/ru/template/pc/cn2016/images/im06.jpg" src="{% static 'imgs/im06.jpg' %}" style="display: inline;">
                        <h4>Bulutli va terminalni muvofiqlashtirish</h4>
                        <ul>
                           <li>WMS, WFS, WMT, SuperMap dam olish va boshqa standart onlayn xaritalash xizmatlariga kirishni qo'llab-quvvatlaydi.</li>
                           <li>SuperMap Online yoki SuperMap iPortal-da onlayn xaritalar, ma'lumotlar, skriptlar va xizmatlarni boshqarishni yaxshilaydi.</li>
                           <li>SuperMap iServer taqsimlangan tahlil xizmatini qo'llab-quvvatlaydi, jumladan, qatlamli tahlil, yig'ish tahlili va boshqalar.</li>
                           <li>SuperMap iServer tomonidan nashr etilgan real vaqtda oqim xizmatlarini vizual ko'rsatishni qo'llab-quvvatlaydi.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-12">
                    <div class="feature">
                        <img class="lazy img-fluid" data-original="/ru/template/pc/cn2016/images/im05.jpg" src="{% static 'imgs/im05.jpg' %}" style="display: inline;">
                        <h4>Fazoviy tahlil</h4>
                        <ul>
                            <li>Bufer tahlilini, overlay tahlilini qo'llab-quvvatlaydi.</li>
                            <li>Nishab, aspekt, sirt maydoni/hajmi va boshqa erni tahlil qilish funktsiyalarini qo'llab-quvvatlaydi.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-12">
                    <div class="feature">
                        <img class="lazy img-fluid" data-original="/ru/template/pc/cn2016/images/im07.jpg" src="{% static 'imgs/im07.jpg' %}" style="display: inline;">
                        <h4>3D</h4>
                        <ul>
                            <li>Oblik fotogrammetriya, BIM, lazer nuqta buluti kabi bir nechta ma'lumotlarning 3D vizualizatsiyasini qo'llab-quvvatlaydi.</li>
                            <li>HTC VIVE Focus VR all-in-one terminalini qo'llab-quvvatlaydi.</li>
                            <li>BOX kesish va tekis kesishni ta'minlaydi.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
   {% endblock content %}