{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- header -->
  <header class="header transport d-flex align-items-center justify-content-center">
    <div class="container text-center">
        <h1 class="h1 text-white">Transport</h1>
    </div>
  </header>
  <!-- header end -->
  <!-- critic -->
  <section class="critic">
    <div class="container">
      <h2 class="text-center">Ko‘rib chiqish</h2>
      <p>GISda harakatni boshqarishning barcha jabhalarida qo'llanilishi mumkin bo'lgan kuchli trafik axborot xizmatlari va boshqaruv funktsiyalari mavjud. An'anaviy usullar bilan taqqoslaganda, GIS texnologiyalaridan foydalanish transportni rejalashtirish, transportni rejalashtirish va boshqarish, shuningdek, tegishli masalalarda misli ko'rilmagan afzalliklarga ega.</p>
    </div>
  </section>
  <!-- critic end -->
  <!-- solution -->
  <section class="solution">
    <div class="container">
      <h2 class="text-center">Yechimlar</h2>
      <a class="text-decoration-none text-black" href="#!"><p class="text-end">Qo'shimcha ma'lumotlar olish uchun ></p></a>
      <div class="row">
        <div class="col-md-6 solution-card-left">
          <img class="img-fluid" src="{% static 'imgs/map1.jpg' %}" alt="">
        </div>
        <div class="col-md-6 solution-card-right d-flex flex-column justify-content-center">
          <h3>Sun'iy yo'ldoshni kuzatish + Haqiqiy vaqtda kemani boshqarishda katta ma'lumotlar GIS ilovasi</h3>
          <p><a href="#!" class="text-black text-decoration-none">tafsilotlar ></a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 solution-card-right d-flex flex-column justify-content-center">
          <h3>3D Expressway Facility raqamli boshqaruv tizimi</h3>
          <p><a href="#!" class="text-black text-decoration-none">tafsilotlar ></a></p>
        </div>
        <div class="col-md-6 solution-card-left2">
          <img class="img-fluid" src="{% static 'imgs/map2.jpg' %}" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 solution-card-left">
          <img class="img-fluid" src="{% static 'imgs/map3.jpg' %}" alt="">
        </div>
        <div class="col-md-6 solution-card-right d-flex flex-column justify-content-center">
          <h3>Aeroportda transport operatsiyalarini boshqarish tizimi</h3>
          <p><a href="#!" class="text-black text-decoration-none">tafsilotlar ></a></p>
        </div>
      </div>
    </div>
  </section>
  <!-- solution end -->
 {% endblock content %}