{% extends 'base.html' %}
{% load static %}
{% block content %}
  <!-- header -->
  <header class="header xavfsizlik d-flex align-items-center justify-content-center">
    <div class="container text-center">
        <h1 class="h1 text-white">Jamoat xavfsizligi</h1>
    </div>
  </header>
  <!-- header end -->
  <!-- critic -->
  <section class="critic">
    <div class="container">
      <h2 class="text-center">Favqulodda vaziyatlarda harakatni boshqarish tizimi</h2>
      <p>Favqulodda vaziyatlarni bartaraf etishning zamonaviy tizimlari davlat organlarining jamiyat hayoti va mulkini himoya qilish, milliy xavfsizlik va ijtimoiy barqarorlikni ta’minlash, har tomonlama, muvofiqlashtirilgan va barqaror iqtisodiy va ijtimoiy rivojlanishga ko‘maklashish qobiliyatini oshirishga qaratilgan.</p>
    </div>
  </section>
  <!-- critic end -->
  <!-- platform -->
  <section class="platform">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid" src="{% static 'imgs/xafsiz1.jpg' %}" alt="">
          <h4>Simsiz tranking tizimi (WTS), yopiq elektron televidenie (CCTV), global navigatsiya sun'iy yo'ldosh tizimi (GNSS), geografik axborot tizimi (GIS) va kompyuter telefoniya integratsiyasi (CTI) va boshqalar kabi zamonaviy texnologiyalarni birlashtiradi.</h4>
        </div>
        <div class="col-md-4">
          <img class="img-fluid" src="{% static 'imgs/xafsiz2.jpg' %}" alt="">
          <h4>Hukumatning yagona qo'mondonlik, o'z vaqtida javob berish va idoralararo muvofiqlashtirish uchun imkoniyatlarini oshiradi.</h4>
        </div>
        <div class="col-md-4">
          <img class="img-fluid" src="{% static 'imgs/xafsiz3.jpg' %}" alt="">
          <h4>Favqulodda vaziyatlarda qabul qilish, qayta ishlash, kuzatish va yopish samaradorligini oshiradi va barcha tranzaktsiyalarning xavfsiz yozuvlarini saqlaydi.</h4>
        </div>
      </div>
    </div>
  </section>
  <!-- platform end -->
  <!-- solution -->
  <section class="solution">
    <div class="container">
      <h2 class="text-center">Yechimlar</h2>
      <a class="text-decoration-none text-black" href="#!"><p class="text-end">Qo'shimcha ma'lumotlar olish uchun ></p></a>
      <div class="row">
        <div class="col-md-6 solution-card-left">
          <img class="img-fluid" src="{% static 'imgs/xavf1.jpg' %}" alt="">
        </div>
        <div class="col-md-6 solution-card-right d-flex flex-column justify-content-center">
          <h3>Xavfli kimyoviy moddalar bilan ishlash va tashishni vizualizatsiya qilish tizimi</h3>
          <p><a href="#!" class="text-black text-decoration-none">tafsilotlar ></a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 solution-card-right d-flex flex-column justify-content-center">
          <h3>3D Spatio-temporal Big Data Politsiya platformasi</h3>
          <p><a href="#!" class="text-black text-decoration-none">tafsilotlar ></a></p>
        </div>
        <div class="col-md-6 solution-card-left2">
          <img class="img-fluid" src="{% static 'imgs/xavf2.jpg' %}" alt="">
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 solution-card-left">
          <img class="img-fluid" src="{% static 'imgs/xavf3.jpg' %}" alt="">
        </div>
        <div class="col-md-6 solution-card-right d-flex flex-column justify-content-center">
          <h3>Politsiya Big Data platformasi</h3>
          <p><a href="#!" class="text-black text-decoration-none">tafsilotlar ></a></p>
        </div>
      </div>
    </div>
  </section>
  <!-- solution end -->
{% endblock content %}